body {

  background-image: url(../images/scissor.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.body{

}
#navbar{
  color: black;
}
.example3 .navbar-brand {
  height: 80px;
}
img {
  border-radius: 15px;
}

.ex1 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ex1 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
footer {
    display: block;
}
.header{
  padding: 0px;
  margin: 0px;
}
.header h5{
  height: 100%;
  font-family: 'Graduate', cursive;
  font-size: 40px;
  color: #708090;
  padding-left: 120px;
}
.menu{
  float: right;
}
#slideshow{
  padding: 0px;
  margin: 0px;
  width: 50%;
  height: auto;
  margin-left: 25%;
  opacity: 0.7;
  z-index: 1;
}
#programs .h2{
  color: #d7ecff;
  text-align: center;
}
#programs{
  background-color: transparent;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.footer{
  background-color: transparent;
  color: #000000;
}
h2{
  text-align: center;
}
.card{
  background-color: transparent;
}
.card p{
  filter: blur(100%)
  color: #000000;
}
#seniorschool, #middleschool, #elementary{
  padding: 30px;
  border-color:;
}
